@media (prefers-color-scheme: dark) {
    svg .graph > polygon {
        /* Material dark theme surface colour */
        fill: #121212;
    }
    svg .cluster polygon {
        stroke: #1976d2;
    }
    svg .cluster text {
        fill: #c9d1d9;
    }
    svg .node polygon {
        stroke: #c9d1d9;
    }
    svg .node.open polygon {
        /* Material Green 700 */
        fill: #388e3c;
    }
    svg .node.committed polygon {
        /* Material Blue 700 */
        fill: #1976d2;
    }
    svg .node.closed polygon {
        fill: #cf6b66;
    }
    svg .node polyline {
        stroke: #c9d1d9;
    }
    svg .edge path {
        stroke: #c9d1d9;
    }
    svg .edge polygon {
        fill: #c9d1d9;
        stroke: #c9d1d9;
    }
    svg text {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    }
}
